// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: #{'/*rtl:prepend:"url:(./fonts/abdo.otf)" */'} #{'/*ltr:prepend:"url:(./fonts/blont.otf)" */'}, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
